[workspace]
resolver = "2"

members = ["./crates/*"]

[workspace.lints.rust]
elided_lifetimes_in_paths = "allow"
rust_2018_idioms = { priority = -1, level = "deny" }

[workspace.lints.clippy]
module_inception = "allow"
uninlined-format-args = "allow"